.tile {
  color: white;
  background-color: rgb(32, 32, 32);
  border-color: gray;
  border-radius: 1.5rem;
  // margin: 0;
  // padding: 0;
  // width: 100%;
  // height: 100%;
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // top: 0;
  // padding: 0;
  // height: 96%;
  // margin-top: 2%;
  overflow: hidden;
  height: 100%;
}

.outer  {
  // position: absolute;
  height: 100%;
  // width: 32%;
  // // background-color: darkgrey;
  // // margin-top: 0;
  // margin: 0;
  // padding: 0;
}
