@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
.code {
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  // font-weight: <weight>;
  // font-style: normal;
  padding: 3rem;
}

li {
  transition: background-color .2s;
  line-height: 125%;
  vertical-align: middle;
}

.line :hover {
  transition: background-color .2s;
  background-color: rgb(60, 60, 60);
}

li.selected {
  transition: background-color .2s;
  background-color: rgb(60, 60, 60);
}

li.selected::marker {
  color: orange;
  // content: '# ';
  // font-size: 1.2em;
}
