<div class="container">
  <div class="row">
    <mat-toolbar-row>
      {{title()}}
      <span class="spacer"></span>
      <button mat-icon-button class="" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="playbackspeed">
          <span>Playback Speed</span>
        </button>
      </mat-menu>
      <mat-menu #playbackspeed="matMenu">
        <button mat-menu-item (click)="tickSpeed = 2000">0.25</button>
        <button mat-menu-item (click)="tickSpeed = 1000">0.5</button>
        <button mat-menu-item (click)="tickSpeed = 500">Normal</button>
        <button mat-menu-item (click)="tickSpeed = 333">1.5</button>
        <button mat-menu-item (click)="tickSpeed = 250">2</button>
      </mat-menu>
    </mat-toolbar-row>
  </div>
  <div class="row">
    <div class="flex-container">
      <mat-slider class="slider" [disabled]="disabled" [max]="max()" [min]="min" [step]="step" [discrete]="thumbLabel"
        [showTickMarks]="showTicks">
        <input matSliderThumb [(value)]="value">
      </mat-slider>
    </div>
    <div class="flex-between">
      <span class="text">{{value()}}</span>
      <span class="text">-{{max() - value()}}</span>
    </div>
  </div>
  <div class="row">
    <div class="flex-container">
      <div class="button-container">
        <button mat-fab aria-label="Previous step" class="btn btn-left" (click)="previousStep()" [disabled]="disabled">
          <mat-icon fontIcon="fast_rewind"></mat-icon>
        </button>
      </div>
      <div class="button-container">
        <button mat-fab class="btn btn-middle" (click)="togglePlayPause()" [disabled]="disabled">
          @if (playing()) {
          <mat-icon fontIcon="pause"></mat-icon>
          } @else {
          <mat-icon fontIcon="play_arrow"></mat-icon>
          }
        </button>
      </div>
      <div class="button-container">
        <button mat-fab aria-label="Next step" class="btn btn-right" (click)="nextStep()" [disabled]="disabled">
          <mat-icon fontIcon="fast_forward"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
