.container {
  margin: 0;
  margin-left: 1rem;
  padding: 2rem;
  box-shadow: .5rem .5rem 1rem black;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-color: #101414;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  box-shadow: .3rem;
}

.btn {
  box-shadow: none;
  margin: .05rem;
}

.btn:hover {
  box-shadow: none;
}

.btn-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-middle {
  border-radius: 0;
}

.slider {
  width: 100%;
}

.text {
  vertical-align: center;
  margin-bottom: .4rem;
  margin-top: -.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
