<form [formGroup]="matrixForm">
  <div class="matrix" formArrayName="matrix">
    @for (item of matrix.controls; track $index) {
      <mat-checkbox id="element-{{ $index }}" [formControlName]="$index"></mat-checkbox>
        @if (($index + 1) % (newGraph()?.numOfNodes ?? 0) == 0) {
          <br>
        }
    }
  </div>
  <div>
    <!-- <graph [graph]="getGraph()"></graph> -->
  </div>
  <div class="row bottom">
    <button mat-button (click)="onPrevious()">Back</button>
    <button mat-button (click)="onSubmit()">Finish</button>
  </div>
</form>
