$gutter-y: 0.75rem;
$gutter-x: 0.75rem;

.row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 100%;
}

.row>* {
  height: 100%;
  flex-shrink: 0;
  padding-right: calc($gutter-x * 0.5);
  padding-left: calc($gutter-x * 0.5);
  margin: auto;
}

.col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: stretch;
}
