<form [formGroup]="graphForm" (ngSubmit)="onSubmit()">
  <div class="row input-row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" id="name" matInput>
      </mat-form-field>
    </p>
  </div>
  <div class="row input-row">
    <mat-form-field appearance="outline">
      <mat-label>Number of Nodes</mat-label>
      <input formControlName="numOfNodes" id="numOfNodes" matInput type="number">
    </mat-form-field>
  </div>
  <div class="bottom">
    <div class="row btn-row">
      <button mat-button type="submit">Continue</button>
    </div>
  </div>
</form>
