<form [formGroup]="graphForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field  appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" id="name" matInput>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Number of Nodes</mat-label>
      <input formControlName="numOfNodes" id="numOfNodes" matInput type="number">
    </mat-form-field>
  </p>
  <div class="row">
    <button mat-button type="submit">Continue</button>
  </div>
</form>
