<h2 mat-dialog-title>Select Algorithm</h2>
<mat-dialog-content>
  <label id="radio-group-label">Choose an Algorithm</label>
  <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="algo">
    @for (item of optoins; track $index) {
      <mat-radio-button [value]="item.value" class="radio-button">{{item.name}}</mat-radio-button>
    }
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="algo()" cdkFocusInitial>Select</button>
</mat-dialog-actions>
