@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.slider-overrides((
    active-track-color: lightblue,
    // ripple-color: orange,
    handle-color: lightblue,
    // hover-state-layer-color: red,
  ));
}

html, body {
  height: 100%;
  background-color: black;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
