$gutter-y: 0.75rem;
$gutter-x: 0.75rem;

.main-container {
  position: relative;
  display: flex;
  flex: 1;
  height: 100vh;
}

.nav-button {
  margin-top: calc($gutter-y * 0.5);
  margin-bottom: calc($gutter-y * 0.5);
  margin-left: calc($gutter-x * 0.5);
  margin-right: calc($gutter-x * 0.5);
  width: calc(100% - $gutter-x);
}

.row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 100%;
}

.row>* {
  height: 100%;
  flex-shrink: 0;
  padding-right: calc($gutter-x * 0.5);
  padding-left: calc($gutter-x * 0.5);
  // margin-top: $gutter-y;
}

.col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: stretch;
}

.tile {
  // flex: 1;
  margin-top: $gutter-y;
  // margin-bottom: $gutter-y;
  height: 100%;
}

.col-6 {
  flex: 0 0 auto;
  width: calc(50% - $gutter-x);
}

.col-12 {
  flex: 0 0 auto;
  width: calc(100% - $gutter-x);
}

.row-main {
  min-height: 30vh;
}

.controls {
  position: sticky;
  bottom: 0;
  left: 0;
  width: fit-content;
  min-width: 30rem;
}

@media (min-width: 950px) {
  .col-l-4 {
    flex: 0 0 auto;
    width: calc(33.33333333% - $gutter-x);
  }
  .row-main {
    height: 85vh;
  }
  .controls {
    position: absolute;
  }
}
