<mat-drawer-container class="main-container">
  <mat-drawer #drawer mode="over">
    <mat-nav-list>
      <a class="nav-button" mat-list-item routerLink="/home">
        <mat-icon matListItemIcon>code</mat-icon>
        <span matListItemTitle>Start New Demo</span>
      </a>
      <mat-divider></mat-divider>
      <a class="nav-button" mat-list-item routerLink="/home">
        <mat-icon matListItemIcon>schema</mat-icon>
        <span matListItemTitle>Saved Graphs</span>
      </a>
      <mat-list-item class="nav-button" (click)="openGraphDialog()">
        <mat-icon matListItemIcon>add</mat-icon>
        <span matListItemTitle>Add Graph</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <div>
    <div class="row">
      <tile class="tile col-12">
        <mat-toolbar>
          <button mat-icon-button aria-label="Navigation" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Triangle Counting</span>
        </mat-toolbar>
      </tile>
    </div>
    <div class="row row-main">
      <div class="col col-6 col-l-4">
        <tile class="tile">
          <graph [matrix]="graphMatrix" [selectedNodes]="demo.snapshotSequence[currentStep].usedNodes"></graph>
        </tile>
      </div>
      <div class="col col-6 col-l-4">
        <tile class="tile">
          <matrix-view [matrix]="graphMatrix"
            [selectedLinks]="demo.snapshotSequence[currentStep].usedLinks"></matrix-view>
        </tile>
      </div>
      <div class="col col-12 col-l-4">
        <tile class="tile">
          <code-view [demo]="demo" [(currentStep)]="currentStep"></code-view>
        </tile>
        <tile class="tile">
          <variable-view [demo]="demo" [currentStep]="currentStep"></variable-view>
        </tile>
      </div>
    </div>
  </div>
  <media-control class="controls" [(currentStep)]="currentStep" (currentStepChange)="stepChangeHandler($event)" [max]="demo.snapshotSequence.length - 1"></media-control>
</mat-drawer-container>
